<h1>Todo#new</h1>


<%= form_for @todo do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :notes %>
  <%= f.text_field :text %>
  
  <%= f.submit  %>
<% end %>
<br/>
<h5><%=link_to 'Back',todo_index_path %></h5>
